body {
    margin: 0;
    overflow: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
#wall {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -2;
}
#sky {
    
    width: 25%;
    height: 25%;
    top: 275px;
    left: 100px;
    filter: drop-shadow(15px 11px 41px #737373);
    overflow: hidden;
    position: relative;
    z-index: -1;
    animation: rollOver 45s ease 0s infinite normal none;
}

@keyframes rollOver {
        0.0%{
            transform: scale(1) translate(-100px, 0) skew(0deg);
        }
        100%{
            transform: scale(1) translate(-100px, 0) skew(0deg) rotate(360deg);
        }
    }
    

@font-face {
    font-family: 'nasalization';
    src: url('assets/nasalization-rg.woff');
    font-weight: normal;
    font-style: normal;
    

}

h1 {font-family: 'nasalization', monospace;
    font-size: 2.5em;
    font-size: 3.275em;
    color: #9a88ff;
    letter-spacing: 0.2em;
    top: 175px;
    left: 100px;
    text-align: center;
    
    
    
}
h1#date{
    font-family: 'nasalization', monospace;
    font-size: 3.275em;
    color: #9a88ff;
    margin-top: 57%;
    
    
}
div#app{
    text-align: center;
    align-self: center;
    margin-top: -37%;
    
    
}